.flexbox-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flexbox-item {
  width: 500px;
  height: 800px;
}

.flexbox-item-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  min-width: 500px;
}

.flexbox-item-2 {
  min-height: 200px;
  min-width: 500px;
}

h1 {
  line-height: 6rem;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
  font-family: monospace;
  font-size: 160px;
}

#blurb {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    margin-top: 8px;
}

p {
  font-family: monospace;
  font-size: 25px;
}

button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  background: #ffffff;
}

#writing-gif {
  max-width: 200%;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  margin: auto;
}

.note {
  border-bottom: 1px solid #aaa;
  padding: 15px;
}

#error-message {
  padding: 10px;
}

textarea {
  display: flex;
  width: 100%;
  height: 200px;
  background: #fefefe;
  padding: 10px 8px;
  border: 1px solid #444;
  font-size: 24px;
  border-radius: 20px;
}

.button {
  border-radius: 20px;
  padding: 20px;
  font-size: 25px;
}

.add-note-button:hover {
  background: #ED9545;
  border: solid 1px #ED9545;
  color: #ffffff;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.delete-note-button:hover {
  background: #dd7c72;
  border: solid 1px #dd7c72;
  color: #ffffff;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.button-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  margin-top: 20px;
}

.add-note-button {
  background: #ffc15c;
  color: #ffffff;
  border: 1px solid #ffc15c;
  cursor: pointer;
}

.delete-note-button {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
}
